<h3 class = 'text-center'>Welcome to Blackjack!!</h3>
<form action = '/set_name' method = 'post' class = 'text-center'>
	Name  <input type = 'text' name = 'username'/><br/>
	<button type = 'submit' class = 'btn'> Submit </button>
</form>




